* {
    border: none;
    border-radius: 0px;

    font-family: "Fira Code Nerd Font", Iosevka;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;

    min-height: 0;
}

#window {
    background: #282828;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
}

window#waybar {
    background: transparent;
    border-bottom: 0px solid #282828;
    color: #f2efdf;
}

.modules-left, .modules-center, .modules-right {
    background: rgba(0,0,0,0.65);
    border-radius: 12px;
    padding: 5px;
    margin: 10px;
    margin-bottom: 6px;
    box-shadow: 0px 4px 4px -5px rgba(0,0,0,0.52);
}

.modules-left {
    padding-left: 10px;
    padding-right: 10px;
}

.modules-right {
    padding-right: 10px;
}

#workspaces {
    background-color: transparent;
}
#workspaces button {
    padding: 2px;
    border-radius: 16px;
    color: #d699b6;
}

#workspaces button.active {
    padding: 2px 6px;
    color: #f2efdf;
    background-color: transparent;
    border-radius: 32px;
}

#custom-playerctl,
#backlight,
#custom-date,
#custom-lock,
#clock,
#battery,
#pulseaudio,
#network,
#temperature,
#disk,
#memory,
#cpu,
#custom-randwall,
#custom-launcher,
#custom-ping,
#idle_inhibitor {
    background: transparent;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
}

#network {
    padding: 5px 12px 5px 12px;
}


#battery,
#pulseaudio {
    padding: 5px 5px 5px 5px;
}

#tray {
    border: 0px solid #282828;
    background-color: #4c3743;
    border-radius: 12px;
    padding: 0px 10px;
    box-shadow: 0px 8px 8px -10px rgba(0,0,0,0.8) inset;
}

#battery {
    color: #e67e80;
}

#battery.charging {
    color: #e67e80;
}

#battery.warning:not(.charging) {
    background-color: #f77777;
    color: #24283b;
    box-shadow: 0px 8px 8px -10px rgba(0,0,0,0.8) inset;
}

#battery.critical:not(.charging) {
    background-color: #e67e80;
    color: #24283b;
    box-shadow: 0px 8px 8px -10px rgba(0,0,0,0.8) inset;
}

#temperature.good, #custom-ping.good {
    color: #e67e80;
}

#temperature.warning, #custom-ping.warning {
    color: #f77777;
}

#disk.critical, #memory.critical, #cpu.critical, #temperature.critical, #custom-ping.critical {
    color: #e67e80;
}

#pulseaudio.muted {
    background: transparent;
    color: #928374;
    padding: 0px 12px 0px 12px;
    font-size: 26px;
}
