#window {
    background-color: rgba(0, 0, 0, 1.0);
    font-family: "FiraCode Nerd Font", monospace;
    font-size: 20px;
    color: #13a10e;
}

#entry {
    padding: 8px;
    margin: 4px 8px;
    color: #13a10e;
    background-color: #001100;
}

#entry:selected {
    background-color: #16ba10;
    color: #000000;
    border: none;
    font-weight: bold;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.2);
    outline: none;
}

#input * {
    color: transparent;
}

#input {
    background-color: transparent;
    font-size: 0px;
    border: none;
    outline: none;
    box-shadow: none;
    margin: -10;
}

#entry:selected * {
    background-color: #16ba10;
    color: #000000;
}
